<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="MonitorPath" value="\\\\srv-sccm01\\drivers\\"/>
      <add key="DriversSourcePath" value="\\\\srv-sccm01\\sources\\OSD\\DriversSources\\"/>
      <add key="DriversPackagesSourcePath" value="\\\\srv-sccm01\\sources\\OSD\\DriversPackages\\"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
